/* CSS for Category Management Page */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: url('/assets/os.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

input[type="text"], button, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

input[type="text"] {
    border: 1px solid #ddd;
}

button {
    background-color: #11e7f7;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0d83e4;
}

#categoryList {
    margin-top: 20px;
    border-top: 2px solid #ddd;
    padding-top: 20px;
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

select {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}
