/* CSS for Admin Dashboard */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center; /* Centering content horizontally */
    background: url('/assets/os.jpg') no-repeat center center fixed;
    background-size: cover;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px; /* Add margin to space out the buttons */
}

button:hover {
    background-color: #45a049;
}

#ordersContainer {
    max-width: 800px;
    margin: 20px auto; /* Centering the orders container */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

